<section id="viewCatalog" class="background-img">
    {{#each products}}
    <div class="added-hotels">
        {{> product}}
    </div>
    {{else}}
    <div class="guest">
        There are no Hotels found...
    </div>
    {{/each}}
</section>